/miniui_java_myeclipse/.classpath
/miniui_java_myeclipse/.mymetadata
/miniui_java_myeclipse/.project
/miniui_java_myeclipse/.settings/org.eclipse.core.resources.prefs
/fast-core/.project
/fast-core/.settings/org.eclipse.m2e.core.prefs
/fast-core/fast-web/.classpath
/fast-core/fast-web/.mymetadata
/fast-core/fast-web/.project
/fast-core/fast-web/.settings/.jsdtscope
/fast-core/fast-web/.settings/com.genuitec.eclipse.j2eedt.core.prefs
/fast-core/fast-web/.settings/org.eclipse.core.resources.prefs
/fast-core/fast-web/.settings/org.eclipse.jdt.core.prefs
/fast-core/fast-web/.settings/org.eclipse.m2e.core.prefs
/fast-core/fast-web/.settings/org.eclipse.wst.common.component
/fast-core/fast-web/.settings/org.eclipse.wst.common.project.facet.core.xml
/fast-core/fast-web/.settings/org.eclipse.wst.jsdt.ui.superType.container
/fast-core/fast-web/.settings/org.eclipse.wst.jsdt.ui.superType.name
